library_classes/build/libgraph_components.so
*.vscode
example/example
example/PageRank
example/example_timed
example/example_workstealing
example/example_gperf
example/example_ownWorkstealing
example/graph/Label_Prop_Test
example/graph/PageRank_example_Test
example/create_graphs
example/test
example/bfs
example/label_prop_new
example/graph/20000nodeGraph
